@model SimpleTeamPlayers.Models.TeamViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a type="button" class="btn btn-success">
    <i class="glyphicon glyphicon-plus"></i> Dodaj
</a>
<br /><br />
<div class="AddTeam" style="display:none">
    @Html.Partial("_AddTeam", Model.team)
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.team.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team.CreationDateClub)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.list_team)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateClub)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TeamId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })
            </td>
        </tr>
    }

</table>

<script>
    $(".btn").click(function () {
        $(".AddTeam").toggle("slow");
    });
</script>
